.logo{
	background-image:url('../img/graph.png');
	border-bottom:2px solid black;
	background-color: #FFF;
	background-repeat:no-repeat;
	background-position:right;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.navbar {
	
}

.navbar .dropdown-menu {
	margin-top: 0px;
}

.navbar-inverse .brand {
	color: #ffffff;
}

div.moviewrapper {
	width: 640px;
	margin: 25px auto;
}

bold {
	font-weight:bold;
}

.post-nav-pad {
	padding-top:30px;
	padding-bottom:30px;	
}

#holder {
	background: #EEE;
    width: 640px;
    margin: 50px auto;
    border: 1px solid black;
}

.container.navigation-width-percent {
	width:90%;
}

.codelist {
	padding-left: 15px;
}

/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
      
      .container-fluid .credit {
        margin: 20px 0;
      }
